@{
    ViewData["Title"] = "Invalid Zip";
}

<body id="invalidzipbody">
    <div>
        <p>
            <br />
            <strong>The zip code entered was invalid, please go back and try again.</strong>
        </p>
    </div>
</body>